# BrowserStack Credentials
BROWSERSTACK_USERNAME=samuelsilva_AQmP2p
BROWSERSTACK_ACCESS_KEY=ZVFjptUpijjSGaWN3y7u

# App URL (será preenchido após upload)
BROWSERSTACK_APP_URL=bs://<app_url>

# Local Testing
BROWSERSTACK_LOCAL=true
BROWSERSTACK_LOCAL_IDENTIFIER=mobile_tests

# Build Info
BUILD_NAME=Mobile Automation Build
PROJECT_NAME=Native Demo App Tests